* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #260f5c;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-in 2s;
}

.top-section {
  height: 30%;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;

  padding-left: 30px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.mini1 {
  text-align: left;
  justify-content: space-between;
  flex-direction: column;
}

.mini1 h1 {
  color: #c88fff;
}

.mini1 h3 {
  color: #d8b5ff;
}

.top-section img {
  height: 60px;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px;
}

.projects-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5vh;
  padding-bottom: 5vh;
  gap: 5vh;
}

.single-project-box {
  background-color: #260f5c;
  width: 80%;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  padding: 10px;
  gap: 20px;
  border-radius: 5px;
}

.project-box-mouseOn {
  background-color: #422684;
}

.project-box-mouseOff {
  background-color: #361f6c;
}

.single-project-box img {
  height: 30vh;
  width: 30vh;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 5px;
}

.proj-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.header-container {
  width: 98%;
  height: 60px;
  background: linear-gradient(90deg, #ff0080, #8c4799, #0032a0);
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 1vw;
  padding: 10px;
  border-radius: 8px;

  animation: fade-in 2s;
}

.header-container h2 {
  font-size: 30px;
}

.header-left {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 1200;
}

.header-right {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
}

.linkedin-logo {
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-box {
  width: 40px;
  height: 40px;
  padding: 2px;
  background-color: #c88fff;
  border-radius: 4px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv-download {
  width: 100px;
  border-radius: 10px;
  background-color: #c88fff;
  color: #000000;
  font-weight: 800;
  font-size: 12px;
}
